<h1>Welcome <%=@name.titleize%> !!!</h1>
<p> Ici c'est notre super site de potins, il est chouette, non ?</p>
<h2>Voici la liste des potins :</h2>
<%@list.each do |g|%>
  <%="Gossip n° #{g.id}"%><br>
  <%="Titre : #{g.title}"%><br>
  <%="Auteur : #{g.user.first_name}"%><br>
  <%="Contenu : #{g.content}"%><br><br>
<%end%>
